{% extends "groups_base.html" %}
{% block header %}
<title>Mappings</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/DragControls.js"></script>
<script src="{{ url_for('static', filename='/script.js') }}"></script>
<script src="{{ url_for('static', filename='/graphs.js') }}"></script>

{% endblock %}

{% block right_side %}
<p style="font-weight: bolder;">In progress</p>
{% endblock %}
