{% extends "groups_base.html" %}
{% block header %}
<title>Symmetric Groups</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/DragControls.js"></script>
<script src="{{ url_for('static', filename='/script.js') }}"></script>
<script src="{{ url_for('static', filename='/graphs.js') }}"></script>

{% endblock %}


{% block left_side %}
<form method="POST">
    {{ form.operation }} {{ form.number }}
    {{ form.graph }}
    {% if form.graph.data == 'graph' %}
        {{ form.update(data[3]) }}
        {% for i in details.elements %}
            {% set _ = form.generator.choice.append(i.__str__()) %}
        {% endfor %}
        <p style="display: inline; color: black; font-size: large;">Choose generator</p>
    {% endif %}
    {{ form.submit }}

</form>

{% endblock %}


    
{% block right_side %}
<div id="right-side-content" style="height: 100vh; position: relative; width: 100%;">
    {% if data[0] == 'S_n' %}
        <h1 align="center">
            S<sub> {{ data[1] }}</sub>
        </h1>  
    {% else %}
        <h1 align="center">
            A<sub> {{ data[1] }}</sub>
        </h1>
    {% endif %}  
    {% if form.graph.data == 'table'  %}
        <div id="tableView">
            {% if data[1] != 0 %}
                <table style="margin-left: auto; margin-right: auto;"> 
                    {% for row in details.cayleys %}
                    <tr>
                        {% for element in row %}
                        <td>    
                            <button style="background-color: {{ element.color }};" class="element" onclick="showInfoCard(event, '{{ element.inverse.__str__() }}', '{{ element.order }}')">
                                {{ element.__str__() }}       
                            </button>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    {% else %}
    <div id="graph-container" style="width: 100%; height: calc(100% - 60px); position: relative; display: block;"></div>

    <script>
        const vertices = {{ details.vertices|tojson }};
        const edges = {{ details.edges|tojson }};
        const names = {{ details.choices|tojson }};
        console.log(names);
        console.log(vertices);
        console.log(edges);
        document.addEventListener('DOMContentLoaded', function() {
            const container = document.getElementById('graph-container');
            const rect = container.getBoundingClientRect(); 
            stupid_animate(
                rect.width,
                rect.height,
                container,  // Pass the container element instead of coordinates
                vertices,
                edges,          // 'graph-container',
                names
            );
        });
    </script>
    

    {% endif %}
</div>
{% endblock %}